@font-face {
    font-family: "Johto Mono";
    src: url("./WebFonts/JohtoMono-Regular.woff2") format("woff2"),
         url("./WebFonts/JohtoMono-Regular.woff") format("woff");
    font-weight: normal;
    font-style: normal;
  }